 .btn {
    min-height: 40px;
    border-radius: 2px; 
    transition: all 0.5s;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn:focus {
    background: #428bca;
}

.images{
    margin-top:120px;
}
 