body{
    background: #eeeeee;
}

.navbar-header.col {
    padding: 0 !important;
}	
.navbar {		
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand {
    color: #555;
    padding-left: 0;
    padding-right: 50px;
    font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
    font-size: 20px;
    margin-right: 5px;
}

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .nav-item.open > a {
    background: none !important;
}

.navbar .badge {
    background: #f44336;
    font-size: 11px;
    border-radius: 20px;
    position: absolute;
    min-width: 10px;
    padding: 4px 6px 0;
    min-height: 18px;
    top: 5px;
}
.navbar ul.nav li a.notifications, .navbar ul.nav li a.messages {
    position: relative;
    margin-right: 10px;
}
.navbar ul.nav li a.messages {
    margin-right: 20px;
}
.navbar a.notifications .badge {
    margin-left: -8px;
}
.navbar a.messages .badge {
    margin-left: -4px;
}	
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
    background: transparent !important;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 1199px){
    .form-inline {
        display: block;
        margin-bottom: 10px;
    }
    .input-group {
        width: 100%;
    }
}